<div class="form-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6 padding-top">
        <h2 class="white-text">Log In</h2>
        <br>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="field">
            <%= f.label :email, class: "white-text" %><br />
            <%= f.email_field :email, autofocus: true, class: "login-inputs form-control" %>
          </div>
          <br>
          <div class="field">
            <%= f.label :password, class: "white-text" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "login-inputs form-control " %>
          </div>
          <br>
          <div class="actions">
              <%= f.submit "Log in", class: "submit-btn btn" %>
              <%= render "devise/shared/links" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>