!!! 5
%html
  %head
    %title Cheffit Pro
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags

  %body
    %nav.navbar.navbar-default
      .container
        = link_to image_tag("/assets/new_logo.png", :alt => "Cheffit" , class: "navbar-brand"), root_path

        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Recipes", recipes_path
          %li= link_to "New Recipe", new_recipe_path
          %li= link_to "Sign Out", destroy_user_session_path, method: :delete

    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"
      = yield
      %p.notice
        = notice
      %p.alert
        = alert