!!! 5
%html
  %head
    %title Cheffit Pro
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  %body
    %header
      #sticker.header-area
        .container-fluid
          / Brand and toggle get grouped for better mobile display
          .navbar-header
            %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to image_tag("/assets/cheffitLOGO.png", :alt => "Cheffit" , class: "navbar-brand"), root_path
          / Collect the nav links, forms, and other content for toggling
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Cheff It", root_path, class: "hvr-sweep-to-top "
              %li= link_to "Recipes", recipes_path, class: "hvr-sweep-to-top "
              - if user_signed_in?
                %li= link_to "New Recipe", new_recipe_path, class: "hvr-sweep-to-top nvbtn"
                %li= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "hvr-shutter-out-vertical "
              - else
                %li= link_to "Sign In", new_user_session_path, class: "hvr-sweep-to-top"
                %li= link_to "Sign Up", new_user_registration_path, class: "hvr-sweep-to-top "



    .container
      - flash.each do |name, msg|
        = content_tag :div, msg, class: "alert"
    = yield